# Ignore everything:
*

# Do not ignore the meta files
!.gitignore
!LICENSE
!README.md

# Do not ignore the ittimport component
!components/
!components/*
!components/com_ittimport/
!components/com_ittimport/*
!administrator/
!administrator/*
!administrator/components/
!administrator/components/*
!administrator/components/com_ittimport/
!administrator/components/com_ittimport/*
!administrator/components/com_ittimport/controllers
!administrator/components/com_ittimport/controllers/*
!administrator/components/com_ittimport/language/
!administrator/components/com_ittimport/language/*
!administrator/components/com_ittimport/language/en-GB/
!administrator/components/com_ittimport/language/en-GB/*
!administrator/components/com_ittimport/models/
!administrator/components/com_ittimport/models/*
!administrator/components/com_ittimport/sql/
!administrator/components/com_ittimport/sql/*
!administrator/components/com_ittimport/sql/updates/
!administrator/components/com_ittimport/sql/updates/*
!administrator/components/com_ittimport/sql/updates/mysql/
!administrator/components/com_ittimport/sql/updates/mysql/*
!administrator/components/com_ittimport/views/
!administrator/components/com_ittimport/views/*
!administrator/components/com_ittimport/views/details/
!administrator/components/com_ittimport/views/details/*
!administrator/components/com_ittimport/views/details/tmpl/
!administrator/components/com_ittimport/views/details/tmpl/*
!administrator/components/com_ittimport/views/ittimport/
!administrator/components/com_ittimport/views/ittimport/*
!administrator/components/com_ittimport/views/ittimport/tmpl/
!administrator/components/com_ittimport/views/ittimport/tmpl/*
!administrator/components/com_ittimport/views/reporter/
!administrator/components/com_ittimport/views/reporter/*
!administrator/components/com_ittimport/views/reporter/tmpl/
!administrator/components/com_ittimport/views/reporter/tmpl/*
!cli/
!cli/ittimport_cron.php
!media/
!media/*
!media/com_ittimport/
!media/com_ittimport/*
!media/com_ittimport/images/
!media/com_ittimport/images/*

# Do not ignore the specialized template and template overrides
!administrator/templates/
!administrator/templates/*
!administrator/templates/ITTBooksAdmin/
!administrator/templates/ITTBooksAdmin/*
!administrator/templates/ITTBooksAdmin/css/
!administrator/templates/ITTBooksAdmin/css/*
!administrator/templates/ITTBooksAdmin/html/
!administrator/templates/ITTBooksAdmin/html/*
!administrator/templates/ITTBooksAdmin/html/com_users/
!administrator/templates/ITTBooksAdmin/html/com_users/*
!administrator/templates/ITTBooksAdmin/html/com_users/user/
!administrator/templates/ITTBooksAdmin/html/com_users/user/*
!administrator/templates/ITTBooksAdmin/html/com_users/users/
!administrator/templates/ITTBooksAdmin/html/com_users/users/*
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/*
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/inventory/
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/inventory/*
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/orders/
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/orders/*
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/user/
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/user/*
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/users/
!administrator/templates/ITTBooksAdmin/html/com_virtuemart/users/*
!administrator/templates/ITTBooksAdmin/html/com_vminvoice/
!administrator/templates/ITTBooksAdmin/html/com_vminvoice/*
!administrator/templates/ITTBooksAdmin/html/com_vminvoice/invoices/
!administrator/templates/ITTBooksAdmin/html/com_vminvoice/invoices/*
!administrator/templates/ITTBooksAdmin/html/com_vminvoice/order/
!administrator/templates/ITTBooksAdmin/html/com_vminvoice/order/*
!administrator/templates/ITTBooksAdmin/html/com_vminvoice/orderx/
!administrator/templates/ITTBooksAdmin/html/com_vminvoice/orderx/*
!administrator/templates/ITTBooksAdmin/html/mod_login/
!administrator/templates/ITTBooksAdmin/html/mod_login/*
# Ignore the images - they are just copied from the default admin template
# !administrator/templates/ITTBooksAdmin/images/
# !administrator/templates/ITTBooksAdmin/images/*
# !administrator/templates/ITTBooksAdmin/images/admin/
# !administrator/templates/ITTBooksAdmin/images/admin/*
# !administrator/templates/ITTBooksAdmin/images/header/
# !administrator/templates/ITTBooksAdmin/images/header/*
# !administrator/templates/ITTBooksAdmin/images/menu/
# !administrator/templates/ITTBooksAdmin/images/menu/*
# !administrator/templates/ITTBooksAdmin/images/system/
# !administrator/templates/ITTBooksAdmin/images/system/*
# !administrator/templates/ITTBooksAdmin/images/toolbar/
# !administrator/templates/ITTBooksAdmin/images/toolbar/*
!administrator/templates/ITTBooksAdmin/js/
!administrator/templates/ITTBooksAdmin/js/*
# Ignore the language files - they are just copied from the default admin template
# !administrator/templates/ITTBooksAdmin/language/
# !administrator/templates/ITTBooksAdmin/language/*
# !administrator/templates/ITTBooksAdmin/language/en-GB/
# !administrator/templates/ITTBooksAdmin/language/en-GB/*

# Do not ignore the virtuemart plugin
!plugins/vmpayment/
!plugins/vmpayment/*
!plugins/vmpayment/ittbooks/
!plugins/vmpayment/ittbooks/*

# Do not ignore the readonly plugin
!plugins/
!plugins/*
!plugins/system/
!plugins/system/*
!plugins/system/readonly/
!plugins/system/readonly/*

# Do not ignore the shipworks integration
!shipworks3.php

# Do not ignore the core_hacks files
!administrator/components/com_virtuemart/
!administrator/components/com_virtuemart/core_mods.txt
!administrator/components/com_vminvoice/
!administrator/components/com_vminvoice/core_mods.txt

# Ignore miscellaneous index.html and index.php files
administrator/error_log
administrator/index.html
administrator/index.php
administrator/components/index.html
administrator/templates/index.html
components/index.html
media/index.html
plugins/index.html
plugins/system/index.html
plugins/vmpayment/index.html